<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>オープンデータ編集マップ<%= (orgName) ? ` | ${orgName}` : "" %></title>
    <%= (favicon) ? `<link rel="icon" href="${favicon}" />` : "" %>
    <%= (noIndex === false) ? "" : '<meta name="robots" content="noindex" />' %>
  </head>
  <body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root"></div>

    <script type="text/javascript" src="https://cdn.geolonia.com/v1/embed?geolonia-api-key=YOUR-API-KEY"></script>
    <script src="./src/index.tsx" type="module"></script>
  </body>
</html>
