#
# Project-Specific
#

# Built files
dist/

#
# System
#

# Logs
logs/
*.log

# PIDs
*.pid
*.seed
*.pid.lock
pids

# File manager configs
.directory
Thumbs.db
.DS_Store

#
# JavaScript
#

# NPM / Yarn
node_modules/
.npm/
.yarn-integrity

# Others
.node_repl_history
.eslintcache
