
html, body, #root, .map, .main, .uploader
{
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: #ffffff;
}
p,h1{
  color: #272727;
}
.menu
{
  ul
  {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    box-sizing: border-box;
    height: 100%;
    margin: 0;
    padding: 0;
    padding-top: 16px;
    text-align: center;
    background-color: #fff;
    border-right: 1px solid #0079c4;
    li
    {
      font-size: 24px;
      border-bottom: 1px solid #d5e8f5;
      a{
        display: block;
        color: #0079c4;
        padding: 20px 0;
        &:hover{
          background: #0079c4;
          color: #fff;
          transition: 0.3s;
        }
      }
      &.active{
        background: #0079c4;
        a{
          color: #fff;
        }
      }
    }
  }

  .settings
  {
    position: absolute;
    width: 50px;
    bottom: 16px;
    font-size: 24px;
    text-align: center;
  }
}

.map
{
  margin-left: 50px;
  width: calc(100% - 50px);
  height: 100%;
  box-sizing: border-box;
}

.main
{
  padding: 16px;
  margin-left: 50px;
  width: calc(100% - 50px);
  height: 100%;
  box-sizing: border-box;
  box-shadow: 12px 0 8px -8px rgba(0, 121, 196, 0.1) inset;
  z-index: 9999;

  .container
  {
    box-sizing: border-box;
    color: #2b2b2b;
    width: 98%;
    margin: 0 auto;

    h1
    {
      margin-top: 0;
    }
  }
}

.uploader
{
  display: none;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.7);
}

.dropzone
{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 90%;
  height: 80%;
  box-sizing: border-box;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icons
{
  width: 100%;
}
button.download-button{
  background: #F39813;
  border: none;
  padding: 8px 24px;
  border-radius: 8px;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  box-shadow:
    0 1.9px 2.5px rgba(243, 152, 19, 0.057),
    0 5px 6.1px rgba(243, 152, 19, 0.076),
    0 10.1px 11.4px rgba(243, 152, 19, 0.086);
    transition-duration: .4s;
  &:hover{
    background: #EE730D;
  }
}
.button-icon{
  margin-right: 8px;
}
.reactgrid-content .rg-pane .rg-cell{
  border-color: #c7c7c7;
  color: #2b2b2b;
  padding: 8px;
}
.reactgrid-content .rg-pane .rg-cell.rg-header-cell{
  background-color: #ebf5fb!important;
  color: #0079c4;
  font-weight: bold;
  padding: 12px 8px!important;
}