
html, body, .map, .main, .uploader
{
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: #171717;
}

.menu
{
  ul
  {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    box-sizing: border-box;
    height: 100%;
    margin: 0;
    padding: 0;
    padding-top: 16px;
    text-align: center;
    background-color: #272727;

    li
    {
      margin-bottom: 20px;
      font-size: 24px;
    }
  }

  .settings
  {
    position: absolute;
    width: 50px;
    bottom: 16px;
    font-size: 24px;
    text-align: center;
  }
}

.map
{
  padding: 16px;
  margin-left: 50px;
  width: calc(100% - 50px);
  height: 100%;
  box-sizing: border-box;
}

.main
{
  padding: 16px;
  margin-left: 50px;
  width: calc(100% - 50px);
  height: 100%;
  box-sizing: border-box;
  z-index: 9999;

  .container
  {
    box-sizing: border-box;
    color: #FFFFFF;
    width: 98%;
    margin: 0 auto;

    h1
    {
      margin-top: 0;
    }
  }
}

.uploader
{
  display: none;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.7);
}

.dropzone
{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 90%;
  height: 80%;
  box-sizing: border-box;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icons
{
  color: #FFFFFF;
  opacity: 0.5;
}

.icons.active
{
  color: #FFFFFF;
  opacity: 1;
}
