td{
  border-color: #2b2121;
  color: #2b2b2b;
  padding: 8px;
}
th{
  background-color: #fbf1e4;
  color: #EE730D;
  font-weight: bold;
  padding: 12px 8px;
}

tr.selected td {
  color: #fbf1e4;
  background-color: #EE730D;
}
