table {
  border-collapse: collapse;
  table-layout: fixed;
}

thead, tbody {
  display: block;
}
tbody {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 300px;
}
td {
  border: 1px solid #2b2121;
  color: #2b2b2b;
  padding: 12px 6px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 200px;
  max-width: 200px;
  min-width: 200px;
}
th {
  border: 1px solid #EE730D;
  background-color: #fbf1e4;
  color: #EE730D;
  padding: 12px 6px;
  width: 200px;
}
tr.selected td {
  color: #fbf1e4;
  background-color: #EE730D;
}
